<nav class="nav no-tablet">
    <a (click)="goTo('hombre')" class="nav__link ">Hombre</a>

    <div class="nav__separator "></div>

    <a (click)="goTo('mujer')" class="nav__link ">Mujer</a>

    <div class="nav__separator "></div>

    <a (click)="goTo('junior')" class="nav__link ">Junior</a>

    <div class="nav__separator "></div>

    <a (click)="goTo('niños')" class="nav__link ">Niños</a>

    <div class="nav__separator "></div>

    <a (click)="goTo('accesorios')" class="nav__link ">Accesorios</a>

    <div class="nav__separator "></div>

    <a (click)="goTo('ofertas')" class="nav__link ">Ofertas</a>
</nav>
